<footer class="bg-race-black text-right px-4 py-3">
  <p class="m-0 text-xs text-yellow">
    Diseñado y desarrollado por{' '}
    <a
      href="https://www.linkedin.com/in/igor-hinojosa-castro-120923194/"
      target="_blank"
      rel="noopener noreferrer"
      class="underline underline-offset-2 active:opacity-80"
    >
      Igor-HC
    </a>
  </p>
</footer>
